.comment-overlay {
  @apply fixed right-0 top-0 flex h-[100dvh] w-[400px] snap-none flex-col overflow-y-auto bg-white;
}

.skeleton {
  background-image: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  background-size: 400% 100%;
  background-position: 100% 50%;
  animation: skeleton-loading 1.4s ease infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
